## Configurações do banco de dados
DB_USER=  # Nome do usuário do banco de dados
DB_PASS=  # Senha do usuário do banco de dados
DB_HOST=  # Host do banco de dados
DB_PORT=  # Porta do banco de dados
DB_NAME=  # Nome do banco de dados